<div class="container-fluid">
  <div class='row'>
    <div class='col-sm-4'>
      <%= Formbuilder.templates['partials/left_side']() %>
    </div>
    <div class='col-sm-8'>
      <div class='row'>
        <div class='com-xs-12'>
          <div class='pull-right'>
            <%= Formbuilder.templates['partials/save_button']() %>
          </div>
        </div>
      </div>
      <div class='row voffset2'>
        <div class='com-xs-12'>
          <%= Formbuilder.templates['partials/right_side']() %>
        </div>
      </div>
    </div>
  </div>
</div>

