<div class='fb-edit-section-header'>Length Limit</div>

<div class='form-inline'>
  <div class='form-group'>
    <label>Min</label>
    <input type="text" class="form-control" data-rv-input="model.<%= Formbuilder.options.mappings.MINLENGTH %>" />
  </div>

  <div class='form-group'>
    <label>Max</label>
    <input type="text" class="form-control" data-rv-input="model.<%= Formbuilder.options.mappings.MAXLENGTH %>" />
  </div>

  <select class="form-control" data-rv-value="model.<%= Formbuilder.options.mappings.LENGTH_UNITS %>">
    <option value="characters">characters</option>
    <option value="words">words</option>
  </select>
</div>
