<div class='fb-edit-section-header'>Options</div>

<% if (typeof includeBlank !== 'undefined'){ %>
  <div class='checkbox'>
    <label>
      <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_BLANK %>' /> Include blank
    </label>
  </div>
<% } %>

<div class='option' data-rv-each-option='model.<%= Formbuilder.options.mappings.OPTIONS %>'>
  <div class='form-inline'>
    <div class='checkbox'>
      <input type="checkbox" class='js-default-updated form-control' data-rv-checked="option:checked" />
    </div>
    <div class='form-group'>
      <input type="text" data-rv-input="option:label" class='option-label-input form-control' />
    </div>
    <button class="js-add-option btn btn-success" title="Add Option"><span class='symbol glyphicon glyphicon-plus-sign' aria-hidden='true'></span></button>
    <button class="js-remove-option btn btn-danger" title="Remove Option"><span class='symbol glyphicon glyphicon-minus-sign' aria-hidden='true'></span></button>
  </div>
</div>

<% if (typeof includeOther !== 'undefined'){ %>
  <div class='checkbox'>
    <label>
      <input type='checkbox' data-rv-checked='model.<%= Formbuilder.options.mappings.INCLUDE_OTHER %>' /> Include "other"
    </label>
  </div>
<% } %>

<div class='fb-bottom-add'>
  <button class="js-add-option btn btn-success">Add option</button>
</div>
